@model AimsCarRentals.Models.User


<ul>
    <li>
        <label><b>Id</b></label>
        <h4>@Model.Id</h4>
    </li>
    <li>
        <label><b>First Name</b></label>
        <h4>@Model.FirstName</h4>
    </li>
    <li>
        <label><b>Middle Name</b></label>
        <h4>@Model.MiddleName</h4>
    </li>
    <li>
        <label><b>Last Name</b></label>
        <h4>@Model.LastName</h4>
    </li>
    <li>
        <label><b>Gender </b></label>
        <h4>@Model.Gender</h4>
    </li>
    <li>
        <label><b>Email</b></label>
        <h4>@Model.Email</h4>
    </li>
    <li>
        <label><b>Date of Birth</b></label>
        <h4>@Model.DateOfBirth</h4>
    </li>
    <li>
        <label><b>Phone Number</b></label>
        <h4>@Model.PhoneNo</h4>
    </li>
    <li>
        <label><b>Password</b></label>
        <h4>@Model.PasswordHash</h4>
    </li>
    <li>
        <label><b>Address</b></label>
        <h4>@Model.Address</h4>
    </li>
    <li>
        <label><b>User was Created At</b></label>
        <h4>@Model.CreatedAt</h4>
    </li>
</ul>