@model AimsCarRentals.Models.User

<ul>
    @Model.FirstName
    @Model.MiddleName
    @Model.LastName
    @Model.Gender
    @Model.Email
    @Model.PhoneNo
    @Model.Address
    @Model.PasswordHash
    @Model.HashSalt
    @Model.CreatedAt
</ul>
<a asp-action="Index" class="btn btn-danger">Back</a>