   @model AimsCarRentals.Models.Bookings

<ul>
    <li>
    <li>@Model.Id</li>
    <li>@Model.Booking_ref</li>
    <li>@Model.PickUpDate</li>
    <li>@Model.ReturnDate</li>
    <li>@Model.CreatedAt</li>
    
</ul>

