<<<<<<< HEAD
﻿@model AimsCarRentals.Models.Bookings

<ul>
    @Model.Id
    @Model.CarId
    @Model.UserId
    @Model.Booking_ref
    @Model.PickUpDate
    @Model.ReturnDate
    @Model.CreatedAt
</ul>
<a asp-action="Index" class="btn btn-danger">Back</a>
=======
﻿   @model AimsCarRentals.Models.Bookings

<ul>
    <li>
    <li>@Model.Id</li>
    <li>@Model.Booking_ref</li>
    <li>@Model.PickUpDate</li>
    <li>@Model.ReturnDate</li>
    <li>@Model.CreatedAt</li>
    
</ul>

>>>>>>> origin/master
