@model IEnumerable<AimsCarRentals.Models.ViewModel.BookingsViewModel>
@{
    ViewData["Title"] = "Add Car ";
    int id = 1;
}

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
</style>

<a asp-controller="Branch" asp-action="Index" class="btn btn-danger">Back To DashBoard</a>
<h2>Bookings Table</h2>
    <table>


        <tr>
            <th>Id</th>
            <th>Car Id</th>
            <th>User Id</th>
            <th>Booking ref</th>
            <th>Pick Up Date</th>
            <th>Return Date</th>
            <th>Actions</th>
        </tr>
        @foreach (var bookings in Model)
        {
            <tr>
                <td>@(id++)</td>
                <td>@bookings.CarId</td>
                <td>@bookings.UserId</td>
                <td>@bookings.Booking_ref</td>
                <td>@bookings.PickUpDate</td>
                <td>@bookings.ReturnDate</td>
                <td>
                    <a asp-action="Details" class="btn btn-success" asp-route-Id="@bookings.Id">Details</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-Id="@bookings.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
