@model AimsCarRentals.Models.ViewModel.BookingsViewModel

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: center;
        padding: 16px;
    }

        th:first-child, td:first-child {
            text-align: left;
        }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    .fa-check {
        color: green;
    }

    .fa-remove {
        color: red;
    }
</style>

<body>
    <div class="container">
        <h2> Booking Summary</h2>

        <table>
            <tr>
                <td>User Id</td>
                <td><i>@ViewBag.userId</i></td>
            </tr>
            <tr>
            <tr>
                <td>First Name</td>
                <td><i>@ViewBag.userFirstName &nbsp;@ViewBag.userLastName</i></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><i>@ViewBag.userEmail</i></td>
            </tr>
            <tr>
                <td>Car</td>
                <td><i>@ViewBag.CarMake&nbsp;@ViewBag.CarName</i></td>
            </tr>
            <tr>
                <td>Booking Ref</td>
                <td><i>@ViewBag.BookingRef</i></td>
            </tr>
        </table>
        <div class="justify-content-between">
            <button onclick="payWithPaystack()" class="btn btn-danger">Continue To Payment</button>
        </div>

        <script src="https://js.paystack.co/v1/inline.js"></script>
        <script src="payment.js"></script>
    </div>
</body>
