@model AimsCarRentals.Models.Branch

<ul>
<<<<<<< HEAD
    @Model.Id
    @Model.Name
    @Model.Address
    @Model.CreatedAt
</ul>
<a asp-controller="Branch" asp-action="Index" class="btn btn-dark">Back</a>
=======
    
    <li>@Model.Id</li>
    <li>@Model.Name</li>
    <li>@Model.Address</li>
    <li>@Model.CreatedAt</li>
</ul>

>>>>>>> origin/master
