@model IEnumerable<AimsCarRentals.Models.ViewModel.BranchViewModel>
@{
    ViewData["Title"] = "Branch";
    int id = 1;
}

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
</style>

<a asp-controller="Branch" asp-action="Create" class="btn btn-danger">Create Branch</a>
<h2>Branch Table</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    @foreach (var branch in Model)
    {
        <tr>
            <td>@(id++)</td>
            <td>@branch.Name</td>
            <td>@branch.Address</td>
            <td>
                <a asp-action="Details" class="btn btn-danger" asp-route-Id="@branch.Id">Details</a>
                <a  asp-action="Update" class="btn btn-danger"  asp-route-Id="@branch.Id">Update</a>
                <a  asp-action="Delete" class="btn btn-danger"  asp-route-Id="@branch.Id">Delete</a>
            </td>
        </tr>
    }
</table>

