@model AimsCarRentals.Models.Car

<a asp-controller="Home" asp-action="Index" class="btn btn-dark">Back</a>

    <div class="row">

        <div class="card-header">
            <img src="@WC.ImagePath@Model.CarPictureUrl" style="width:300px" />
        </div>
    <div class="card-body">
        <ul>
            <li><h4><label>Name</label></h4>@Model.Name</li>
            <li><h4><label>Make</label></h4>@Model.Make</li>
            <li><h4><label>Plate No</label></h4>@Model.PlateNo</li>
            <li><h4><label>Serial No</label></h4>@Model.SerialNo</li>
            <li><h4><label>Branch</label></h4>@Model.Branch.Name</li>
            <li><h4><label>Category</label></h4>@Model.Category.Name</li>
            <li><h4><label>Description</label></h4>@Model.Description</li>
        </ul>
        </div>
    </div>
    <a asp-controller="Car" asp-action="BookCar" class="btn btn-dark">Continue To Book</a>
