@model IEnumerable<AimsCarRentals.Models.ViewModel.CarViewModel>
@{
    ViewData["Title"] = "Car";
    int id = 1;
}

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
</style>


<h2>Car Table</h2>
<a asp-controller="Car" asp-action="Create" class="btn-dark" style="width:100%">Add A Car</a>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Make</th>
        <th>Serial No</th>
        <th>Available?</th>
        <th>Actions</th>
    </tr>
    @foreach (var car in Model)
    {
        <tr>
            <td>@(id++)</td>
            <td>@car.Name</td>
            <td>@car.Make</td>
            <td>@car.SerialNo</td>
            <td>@car.IsAvailable</td>
            <td>
                <a asp-action="Details" class="btn btn-danger" asp-route-Id="@car.Id">Details</a>
                <a asp-action="Update" class="btn btn-secondary" asp-route-Id="@car.Id">Edit</a>
                <a asp-action="Delete" class="btn btn-success" asp-route-Id="@car.Id">Delete</a>
            </td>
        </tr>
    }
</table>

