@model IEnumerable<AimsCarRentals.Models.ViewModel.RoleViewModel>
@{
    ViewData["Title"] = "Category";
    int id = 1;
}

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
</style>

<<<<<<< HEAD

<h2>Role Table</h2>
<a asp-controller="Role" asp-action="Create" class="btn-dark" style="width:100%">Create</a>
=======
<a asp-controller="Role" asp-action="Create" class="btn btn-danger">Create Role</a>
<h2>Branch Table</h2>
>>>>>>> origin/master
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@(id++)</td>
            <td>@role.Name</td>
            <td>
                <a asp-action="Details" class="btn btn-danger" asp-route-Id="@role.Id">Details</a>
                <a asp-action="Edit" class="btn btn-danger" asp-route-Id="@role.Id">Edit</a>
                <a  asp-action="Delete" class="btn btn-danger" asp-route-Id="@role.Id">Delete</a>
            </td>
        </tr>
    }
</table>

